footer{
  height: 57px;
  background-color: #dddee1;
  padding: 0 30px;
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer button{
  background-color: #017eff;
  color: white;
  font-size: 12px;
  border: none;
  border-radius: 2px;
  height: 35px;
  width: 135px;
  align-self: center;
  cursor: pointer;
}